export SERVER_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoic2VydmVyX3NlY3JldCIsImlhdCI6MTcwMTQ0NDc1OCwic3ViIjoiamdiVU9NbEE5ek84MWx3UnZYcjd2aE5DZ3VkMiIsInZlcnNpb24iOjZ9.a1OtDzSDqTjyO5lCX0zO2kKspLbJCNEvBoMYgmLukVI
export BOT_ID=a2708c22703641808ea7953f10895be9